@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
/* Reset do CSS */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/*configuracoes gerais*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Caprasimo", serif;
}

header {
    background-color:rgb(173, 37, 128);
    color: azure;
    padding: 60px;
    text-align: center;
}
main{
     background-color:rgb(231, 174, 212) ;
     flex: 1;
     padding: 48px 38px;
     width: 100%;
}

about-section {
    display: block;
    background-color:cornsilk;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 60px;
}


 #titulo-sobre-mim { 
    font-size: 40px;
    width: 80%;
    border-bottom: 2px solid rgb(189, 64, 126);
 }



 
 #texto-sobre-mim { 
    font-size: 30px;
    width: 80%;
    background-color: rgb(250, 196, 247);

 }

 hobbies {
   display:block;
   background-color: rgb(248, 236, 217);
   width: 80%;
   margin : 0 auto;
   padding: 40px;
   border-radius: 12px;
 }
 ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
 }
 
 li{
    background-color: rgb(255, 225, 241);
    padding: 12px;
    border-left: 4px solid rgb(231, 25, 111);
    font-size: 16px;
    min-width: 80px;
 }
 li:hover {
    background-color: rgb(245, 166, 193);
    transform: translateX(5px);
    transition: all 0.3s ease;
 }

 #titulo-hobbies { 
    font-size: 40px;
    border-bottom: 2px solid rgb(248, 91, 156);
    margin-bottom: 20px;
 }

 contact {
   display:block;
   background-color: rgb(248, 236, 217);
   width: 80%;
   margin : 0 auto;
   padding: 40px;
   border-radius: 12px;
   margin-top: 40px;
 }
 
 contact h2 { 
   margin-bottom: 8px;
   font-size: 30px;
   text-align: center;
 }

 contact p {
   text-align: center;
   font-size: 22px;
 }

 contact a {
   color: #db1e86;
   text-decoration: none;
   padding: 0.5rem 1rem;
   margin: 0 0.5rem;
   border: 2px solid #ec3a9c;
   border-radius: 25px;
   display: inline-block;
   transition: all 0.3s ease;
 }

 contact a:hover {
   background-color: #db1e86;
   color: aliceblue;
   transform: translateY(-2px);

 }
